<div class="d-flex">
    <app-menu id="menu-object"></app-menu>
    <div class="col-sm-5 mt-4">
        <div id="form-title">
            Adauga un Articol nou
        </div>
        <form class="col-sm-12" [formGroup]="articolForm">
            <div class="row">
                <div class="col-sm-12 mt-4">
                    <mat-form-field >
                        <input matInput  formControlName="codArticol" required placeholder="Cod Articol">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-4">
                    <mat-form-field >
                        <input matInput  formControlName="numeArticol" required placeholder="Nume Articol">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-4">
                    <mat-form-field > 
                        <mat-label>Cod Grupa</mat-label>
                        <mat-select formControlName="codGrupa" >
                        <mat-option *ngFor="let grupa of grupeArticoleLista" [value]="grupa.CodGrupa">
                            {{grupa.NumeGrupa}}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-4">
                    <mat-form-field >
                        <input type="number"  matInput placeholder="Cantitate Stoc"  formControlName="cantitateStoc" required >
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 mt-4">
                    <mat-form-field > 
                        <mat-label>Id unitate de masura</mat-label>
                        <mat-select formControlName="idUnitateMasura" >
                        <mat-option *ngFor="let um of umLista" [value]="um.IDUnitateMasura">
                            {{um.IDUnitateMasura + "-"+ um.NumeUnitateDeMasura }}
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div  class="row mt-4">
                <div class="col-sm-12">
                    <button id="adauga-btn" (click)="adaugaArticol()">Adauga</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-4" style="margin-top: 120px;">
            <mat-form-field appearance="fill">
                <mat-label>Choose a database</mat-label>
                <mat-select (selectionChange)="selectedValue($event)">
                    <mat-option *ngFor="let connection of dbConnections" [value]="connection.value">
                        {{connection.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    </div>


</div>

