.form-container{
    background-color: cyan;
    height: 200px;
    width: 20px;
}

#menu-object{
width: 800px;
margin-right: -500px;
}

#select-unitate-id{
    width:186px;
    margin-top:20px
}

#form-title{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 30px;
}

#afiseaza-btn{
    background-color:wheat;
    width: 140px;
    height: 45px;
    border-radius: 10px;

}

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 10%;
    
  }